nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    background: black;
    color: white;
}

h3{
    font-family: 'Galada', cursive;
    font-size: 90px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}